.footer-works li{
    list-style: none;
    font-size: 20px;
}
.footer-works li a {
    color: #ffffff;
}

.footer-works a, .footer-works a.active, .footer-works a:active, .footer-works a:focus, .footer-works a:hover {
    color: #18BC9C;
    outline: 0;
}

footer .footer-works {
    padding: 0;
}

header.navbar {
    height: 120px;
    opacity: .75;
}

section.container {
    margin-top: 120px;
}

.form-group input, .form-group textarea {
    text-align: center;
}

aside.left {
    width: 30%;
    float: left;
    height: 1000px;
    background: #eee;
}

section .has-sidebar-left {
    width: 70%;
    float: left;
}

.help-block {
    color: #a94442;
}

.hideShowPassword-toggle {
    z-index: 3;
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    outline: 0;
}

.hideShowPassword-toggle:hover {
    background-color: #eee;
    color: #555;
    outline: transparent;
}

#password {
    padding-right: 0 !important;
}

.container {
    padding-top: 15px;
}