.footer-works li{
    list-style: none;
    font-size: 20px;
}
.footer-works li a {
    color: #ffffff;
}

.footer-works a, .footer-works a.active, .footer-works a:active, .footer-works a:focus, .footer-works a:hover {
    color: #18BC9C;
    outline: 0;
}

footer .footer-works {
    padding: 0;
}

section.container {
    margin-top: 120px;
}

.form-group input, .form-group textarea {
    text-align: center;
}

aside {
    padding: 15px;
}

aside.left {
    width: 30%;
    float: left;
    background: #eee;
}

section .has-sidebar-left {
    width: 70%;
    float: left;
}

.help-block {
    color: #a94442;
}

.hideShowPassword-toggle {
    z-index: 3;
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    outline: 0;
}

.hideShowPassword-toggle:hover {
    background-color: #eee;
    color: #555;
    outline: transparent;
}

#password {
    padding-right: 0 !important;
}

.container {
    padding-top: 15px;
}

header {
    position: relative;
    opacity: .5;
}

header .eng_panel {
    position: absolute;
    right: 10px;
    top: 8px;
}

header .menu_panel{
    position: absolute;
    left: 10px;
    top: 8px;
}

header .menu_panel li {
    list-style: none;
    display: inline-block;
}

#my-file-selector {
    display: none;
}

.upload-errors {
    font-size: 14px;
}

.bgc-img {
    display: block;
    background: 50% 50% no-repeat;
    background-size: cover;
    width: 31.3333333%;
    height: 250px;
    float: left;
    margin: 1%;
    box-shadow:0 0 20px #cecece;
    -moz-transform: scale(0.7);
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -ms-transition-duration: 0.6s;
}
.bgc-img:hover {
    box-shadow: 20px 20px 20px #dcdcdc;
    -moz-transform: scale(0.8);
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -ms-transition-duration: 0.6s;
}

aside .text-danger {
    margin: 10px 0;
    text-align: center;
}
aside input[type="submit"] {
    display: block;
    margin: 10px auto;
}

aside label.btn-primary{
    display: block;
    margin: 10px auto;
}

aside .label-info {
    display: block;
    text-align: center;
}